@inherits SplitterCommon

<div id="@m_guid" class="splitterH">
    <div class="panel" style="flex-basis: @SizeFirstPanel">
        <CascadingValue Value=@this>
            @FirstPanel
        </CascadingValue>
    </div>

    <div id="@(m_guid)_slider" class="hslider"
         @onpointerdown="onpointerdown" @onpointerdown:preventDefault
         @onpointermove="onpointermove" @onpointermove:preventDefault
         @onpointerup="onpointerup" @onpointerup:preventDefault>
        <div class="arrow"><IconDown /></div>
        <div class="handle"/>
        <div class="arrow"><IconUp /></div>
    </div>

    <div class="panel">
        <CascadingValue Value=@this>
            @SecondPanel
        </CascadingValue>
    </div>
</div>