<div id="@m_guid" class="splitterH">
    <div class="noselect" style="flex-basis: @SizePanel1">
        <CascadingValue Value=@this>
            @TopChild
        </CascadingValue>
    </div>

    <div id="@(m_guid)_hslider" class="hslider"
         @onpointerdown="onpointerdown"     @onpointerdown:preventDefault
         @onpointermove="onpointermove"     @onpointermove:preventDefault
         @onpointerup="onpointerup"         @onpointerup:preventDefault
         >
    </div>

    <div class="noselect">
        <CascadingValue Value=@this>
            @BottomChild
        </CascadingValue>
    </div>
</div>