.splitterH {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.panel {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    text-overflow: ellipsis;
    overflow: hidden;
/*    flex-grow: 0;
    flex-shrink: 0;
*/}

.hslider {
    background-color: #F0F0F0;
    height: 10px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: center;
}

    .hslider:hover {
        background-color: #FFE0E0;
        cursor: ns-resize;
    }
.arrow{
    display:flex;
}

.arrow:hover{
    background-color: red;
    cursor: pointer;
}
.handle{
    display:flex;
    min-width: 20px;
}