@inherits SplitterCommon

<div id="@m_guid" class="splitterV">
    <div class="panel" style="flex-basis: @SizeFirstPanel">
        <CascadingValue Value=@this>
            @FirstPanel
        </CascadingValue>
    </div>

    <div id="@(m_guid)_slider" class="vslider"
         @onpointerdown="onpointerdown" @onpointerdown:preventDefault
         @onpointermove="onpointermove" @onpointermove:preventDefault
         @onpointerup="onpointerup" @onpointerup:preventDefault>
    </div>

    <div class="panel">
        <CascadingValue Value=@this>
            @SecondPanel
        </CascadingValue>
    </div>
</div>