.splitterV {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
}

.panel {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    text-overflow: ellipsis;
    overflow: hidden;
/*    flex-grow: 0;
    flex-shrink: 0;
*/}

.vslider {
    background-color: lightgray;
    width: 10px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
}

    .vslider:hover {
        background-color: lightcoral;
        cursor: ew-resize;
    }
.arrow {
    display: flex;
}

    .arrow:hover {
        background-color: red;
        cursor: pointer;
    }

.handle {
    display: flex;
    min-height: 20px;
}