@page "/"
<p>@sizePanel1;@sizePanel2</p>
<div style="width:500px; height:500px;border:solid;border-width:1px;">
    <BlazorSplitters.HSplitter @bind-SizeFirstPanel="@sizePanel1">
        <FirstPanel>
            TOP
        </FirstPanel>
        <SecondPanel>
            <div style="height:75px;">
                <BlazorSplitters.VSplitter @bind-SizeFirstPanel="@sizePanel2">
                    <FirstPanel>
                        LEFT
                    </FirstPanel>
                    <SecondPanel>
                        RIGHT
                    </SecondPanel>
                </BlazorSplitters.VSplitter>
            </div>
        </SecondPanel>
    </BlazorSplitters.HSplitter>
</div>

@code
{
    string sizePanel1 = "40%";
    string sizePanel2 = "20%";
}