@page "/"
    <div style="width:500px; height:500px;">
        <BlazorSplitters.HSplitter>
            <TopChild>
                Top
            </TopChild>
            <BottomChild>
                Bottom
            </BottomChild>
        </BlazorSplitters.HSplitter>
    </div>